@using Microsoft.AspNetCore.Http


<a href="index3.html" class="brand-link">
    <img src="@Url.Content("~/lib/dist/img/AdminLTELogo.png")" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
</a>

<div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
    <div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 572px;"></div><div class="os-padding">
        <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
            <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="@Url.Content("~/lib/dist/img/user2-160x160.jpg")" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div><div class="sidebar-search-results"><div class="list-group"><a href="#" class="list-group-item"><div class="search-title"><strong class="text-light"></strong>N<strong class="text-light"></strong>o<strong class="text-light"></strong> <strong class="text-light"></strong>e<strong class="text-light"></strong>l<strong class="text-light"></strong>e<strong class="text-light"></strong>m<strong class="text-light"></strong>e<strong class="text-light"></strong>n<strong class="text-light"></strong>t<strong class="text-light"></strong> <strong class="text-light"></strong>f<strong class="text-light"></strong>o<strong class="text-light"></strong>u<strong class="text-light"></strong>n<strong class="text-light"></strong>d<strong class="text-light"></strong>!<strong class="text-light"></strong></div><div class="search-path"></div></a></div></div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="show" data-widget="treeview" role="menu" data-accordion="false" id="menu">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="menu-dashboard">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-home"></i> Dashboard</a>
                        </li>
                        <li class="nav-item" id="menu-catalog">
                            <a href="javascript:void(0)" class="parent collapsed" data-toggle="collapse" data-target="#collapse-1">
                                <i class="nav-icon fas fa-tag"></i>Catalog
                            </a>
                            <ul class="collapse" id="collapse-1">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Category" asp-area="Admin" asp-action="Index">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/boxed.html" class="nav-link">Recurring Profiles</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/fixed-sidebar.html" class="nav-link">Manufacturers</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/fixed-sidebar-custom.html" class="nav-link">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/fixed-topnav.html" class="nav-link">Information</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item" id="menu-catalog">
                            <a href="javascript:void(0)" class="parent collapsed" data-toggle="collapse" data-target="#collapse-2">
                                <i class="nav-icon fas fa-desktop"></i> Design
                            </a>
                            <ul class="collapse" id="collapse-2">
                                <li class="nav-item">
                                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">Layouts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/boxed.html" class="nav-link">Theme Editor</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/fixed-sidebar.html" class="nav-link">Language Editor</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/fixed-sidebar-custom.html" class="nav-link">Banners</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/layout/fixed-topnav.html" class="nav-link">SEO URL</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item" id="menu-sale">
                            <a href="javascript:void(0)" class="parent collapsed" data-toggle="collapse" data-target="#collapse-3">
                                <i class="fas fa-shopping-cart"></i>
                                Sales
                            </a>
                            <ul class="collapse" id="collapse-3">
                                <li class="nav-item">
                                    <a href="pages/charts/chartjs.html" class="nav-link">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/flot.html" class="nav-link">Recurring Profiles</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">Returns</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/uplot.html" class="nav-link">Gift Vouchers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="parent collapsed" data-toggle="collapse" data-target="#collapse-4">
                                <i class="nav-icon fas fa-user"></i>
                                Customers
                            </a>
                            <ul class="collapse" id="collapse-4">
                                <li class="nav-item">
                                    <a href="pages/UI/general.html" class="nav-link">
                                        Customers
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/UI/icons.html" class="nav-link">
                                        Customer VAT Numbers
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/UI/buttons.html" class="nav-link">
                                        Customer Groups
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/UI/sliders.html" class="nav-link">
                                        Custom Fields>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="parent collapsed" data-toggle="collapse" data-target="#collapse-5">
                                <i class="nav-icon fas fa-cog"></i>
                                System
                            </a>
                            <ul class="collapse" id="collapse-5">
                                <li class="nav-item">
                                    <a href="pages/forms/general.html" class="nav-link">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="parent collapsed" data-toggle="collapse" data-target="#collapse-5-1">
                                        Users
                                    </a>
                                    <ul class="collapse" id="collapse-5-1">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Languages" asp-area="Admin" asp-action="Index">User Groups</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href ="javascript:void(0)" class="parent collapsed" data-toggle="collapse" data-target="#collapse-5-2">
                                        Localisation
                                    </a>
                                    <ul class="collapse" id="collapse-5-2">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Store" asp-area="Admin" asp-action="Index">Store Location</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Languages" asp-area="Admin" asp-action="Index">Languages</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="pages/examples/login-v2.html" class="nav-link">Stock Statuses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Country" asp-area="Admin" asp-action="Index">Countries</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="pages/examples/forgot-password-v2.html" class="nav-link">Zones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="pages/examples/recover-password-v2.html" class="nav-link">Geo Zones</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="parent collapsed" data-toggle="collapse" data-target="#collapse-5-3">
                                        Maintenance
                                    </a>
                                    <ul class="collapse" id="collapse-5-3">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Languages" asp-area="Admin" asp-action="Index">Upgrade</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="pages/examples/login-v2.html" class="nav-link">Backup / Restore</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="pages/examples/recover-password-v2.html" class="nav-link">Uploads</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="pages/examples/recover-password-v2.html" class="nav-link">Error Logs</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="parent collapsed" data-toggle="collapse" data-target="#collapse-6">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                Reports
                            </a>
                            <ul class="collapse" id="collapse-6">
                                <li class="nav-item">
                                    <a href="pages/UI/general.html" class="nav-link">Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/UI/icons.html" class="nav-link">Who's Online</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/UI/buttons.html" class="nav-link">Statistics</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
        </div>
    </div>
    <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
        <div class="os-scrollbar-track">
            <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
        </div>
    </div>
    <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
        <div class="os-scrollbar-track">
            <div class="os-scrollbar-handle" style="height: 42.1634%; transform: translate(0px, 0px);"></div>
        </div>
    </div>
    <div class="os-scrollbar-corner"></div>
</div>