@model hienv_asp.Models.Country
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6 text-right">
                <button type="submit" form="form-country" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Save"><i class="fa fa-save"></i></button>
                <a asp-controller="Country" asp-action="Index" asp-area="Admin" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="Cancel"><i class="fa fa-reply"></i></a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> Edit Country</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row form-group-custom">
                                <form asp-controller="Country" asp-action="Create" asp-area="Admin" method="post" id="form-country">
                                    <div class="form-group required">
                                        <label asp-for="name" class="col-sm-2 control-label">Country Name</label>
                                        <div class="col-sm-10">
                                            <input asp-for="name" placeholder="Country Name" id="country-name" class="form-control" />
                                            <span asp-validation-for="name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label asp-for="iso_code_2" class="col-sm-2 control-label">ISO Code (2)</label>
                                        <div class="col-sm-10">
                                            <input asp-for="iso_code_2" placeholder="Iso Code 2" id="iso_code_2" class="form-control" />
                                            <span asp-validation-for="iso_code_2" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label asp-for="iso_code_3" class="col-sm-2 control-label">ISO Code (3)</label>
                                        <div class="col-sm-10">
                                            <input asp-for="iso_code_3" placeholder="Iso Code 2" id="iso_code_3" class="form-control" />
                                            <span asp-validation-for="iso_code_3" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label asp-for="address_format" class="col-sm-2 control-label">Address Format</label>
                                        <div class="col-sm-10">
                                            <textarea asp-for="address_format" rows="5" class="form-control"></textarea>
                                            <span asp-validation-for="address_format" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="postcode_required" class="col-sm-2 control-label">Postcode Required</label>
                                        <div class="col-sm-10">
                                            <label class="radio-inline">
                                                <input type="radio" asp-for="postcode_required" value="1" />
                                                Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" asp-for="postcode_required" value="0" checked="checked" />
                                                No
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="status" class="col-sm-2 control-label" for="input-status">Status</label>
                                        <div class="col-sm-10">
                                            <select asp-for="status" name="status" id="input-status" class="custom-select">
                                                <option value="1" selected="selected">Enabled</option>
                                                <option value="0">Disabled</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/lib/plugins/codemirror/codemirror.js"></script>
    <script src="~/js/category.js"></script>
}